<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
{% set pageBodyClass %}{% block bodyClass %}{% endblock %}{% endset %}
{% set navBehavior %}{% block navBehavior %}static{% endblock %}{% endset %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base/variables.css">
    <link rel="stylesheet" href="/css/base/reset.css">
    <link rel="stylesheet" href="/css/base/base.css">
    <link rel="stylesheet" href="/css/base/typography.css">
    <link rel="stylesheet" href="/css/nav/nav.css?v=18">
    <link rel="stylesheet" href="/css/info.css?v=2">
    <link rel="stylesheet" href="/css/contact.css?v=1">
    <link rel="stylesheet" href="/css/imprint.css?v=1">
    <link rel="stylesheet" href="/css/privacy.css?v=1">
    <link rel="stylesheet" href="/css/styles.css">
    {% block pageStyles %}{% endblock %}
</head>
<body class="{{ pageBodyClass|trim }}">
    {% include "_components/shared/nav/nav.twig" with {
      navBehavior: navBehavior|trim ?: 'static'
    } %}

    <main class="site-main">
        {% block content %}{% endblock %}
    </main>
    <script src="/js/scripts.js?v=4"></script>
    {% block pageScripts %}{% endblock %}
</body>
</html>
