{% extends "_layouts/main.twig" %}

{% block title %}Imprint / Privacy - {{ siteName }}{% endblock %}

{% block content %}
<section class="info-page">
  <div class="info-page__intro">
    <h1>Imprint / Privacy</h1>
  </div>

  <div class="info-page__content">
    {% include "_components/imprint-privacy.twig" %}
  </div>
</section>
{% endblock %}
