{% extends "_layouts/main.twig" %}

{% block content %}
<section class="info-page">
  <div class="info-page__intro">
    <h1>About</h1>
  </div>

  <div class="info-page__content">
    <p>About text can go here.</p>
  </div>
</section>
{% endblock %}
