{% extends "_layouts/main.twig" %}

{% block barbaNamespace %}contact{% endblock %}
{% block content %}
<section class="info-page">
  <div class="info-page__intro">
    <h1>Contact</h1>
  </div>

  <div class="info-page__content">
    {% include "_components/contact.twig" %}
  </div>
</section>
{% endblock %}
