{% extends "_layouts/main.twig" %}

{% block barbaNamespace %}shop{% endblock %}
{% block navLayout %}home-only{% endblock %}
{% block navBackHref %}{{ siteUrl }}#home-reveal{% endblock %}

{% block title %}Shop - {{ siteName }}{% endblock %}

{% block content %}
<section class="info-page">
  <div class="info-page__intro">
    <h1>Shop</h1>
  </div>

  <div class="info-page__content">
    {% include "_components/shop.twig" %}
  </div>
</section>
{% endblock %}
